<footer id = "footer-layout">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div id="foot-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
        </ul>
    </div>
</footer>