        <link rel="stylesheet" href="/css/layout.css">
        <h1> Hello Goizzz...Welcome to Codeial: home.ejs</h1>
        <h2> <%= title %> </h2>
  

<section id = "feed-posts">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="Type here...!!!"></textarea>
                <input type="submit" vlaue="Post">
        </form>
</section>