        <link rel="stylesheet" href="/css/layout.css">
        <h1> Hello Goizzz...Welcome to Codeial: home.ejs</h1>
        <h2> <%= title %> </h2>
  

<section id = "feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="Type here...!!!"></textarea>
                <input type="submit" vlaue="Post">
        </form>

        <div id="posts-list-container">
                <ul>
                        <% for(post of posts){ %>
                                <li>
                                        <%= post.content %>
                                        <p>
                                                <%= post.user.name %>
                                        </p>
                                </li>        
                        <% } %>
                </ul>
        </div>
</section>