<html>
    <head>
        <title>
            <%= title %>
            <style>
                body{
                    background-color: burlywood;
                    text-align: center;
                    margin-top:30px
                }
                h1{
                    font-size: 40px;
                }
                h2{
                    font-size: 30px;
                }
            </style>
        </title>
    </head>

    <body>
        <h1>Hello Goizzz...Welcome to Codeial: users.ejs</h1>
        <h2> <%= title %> </h2>
    </body>
</html>