<link rel="stylesheet" href="/css/users_layout.css">
        <h1>Hello Goizzz...Welcome to Codeial: users.ejs</h1>
        <h2> <%= title %> </h2>

        <p> Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
    