#footer-layout{
    color:white;
    a{
        text-decoration: none;
        color:white;
    }

    background:grey;
    padding:5px 10px;
    display: flex;
    justify-content: flex-start;

    #foot-nav{
        ul{
            list-style: none;
        }
    }
}