#home-container{
    display:flex;

    #feed-posts{
        width:70%;
        padding:20px;
    }

    #user-friends{
        width:30%;
        padding:20px;
        border-left:2px solid grey;
        height:100vh;
    }

}