<div>
    <br><br>
    <p>Your comment <strong> <%= comment.user.name %> </strong> just got published on Codeial</p>
    <br><br>
    <p>Thanks!</p>
</div>
<!-- please say something i am running out of time
ok fine good luck your issue \<i> rsovd
//sir exactly where is the problem
argument mismatch in nodemailer
you are using err instead of errorthat was the errorthatokay okay -->

</i>