#header-layout nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 5px;
  background: #2196f3;
  box-shadow: 1px 1px 1px 1px grey;
  height: 58px; }

#header-layout .logo p {
  margin: 10px;
  font-size: 2.9rem;
  font-weight: ITALIC; }

#header-layout #sign-nav ul {
  margin: 7% 10px;
  display: flex;
  list-style: none;
  font-size: 1.2rem; }
  #header-layout #sign-nav ul li {
    margin-right: 10px; }

#header-layout a {
  color: white;
  text-decoration: none; }
